body {
    background: $bodyBackground;
}

header {
    color: white;
    font-family: $primaryFont;

    .neon {
        text-transform: uppercase;
        font-family: $secondaryFont;
            font-size: 3rem;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-shadow: 0 0 0.95em #1da9cc;
            user-select: none;
            filter: blur(0.007em);
    }
}

section {
    text-align: center;
    border: 3px solid black;
    width: 50%;
    margin: 0 auto;
    border-radius: 5%;
    max-height: 100vh;
    background-color: $cardBackground;
}



.welcomePage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px 0;

    p {
        display: block;
        width: 70%;
    }

    .startGame {
        display: block;
        position: absolute;
        bottom: -75px;
        width: 150px;
        height: 150px;
        border-radius: 45px;
        margin: 0 auto;
        border: none;
        color: white;
        background: $accentTwo;
        font-family: $secondaryFont;
        font-size: 1.4rem;
    }
}


form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;

    input[type="text"] {
        border: none;
        padding: 20px;
    }

    input[type="radio"] {
        opacity: 0.01;
        position: absolute;

        &:checked + label {
            background: $accentOne;
        }
    }

    label {
        &.difficulty,
        &.answer {
            border: 2px solid $accentOne;
            border-radius: 15px;
            padding: 20px;
            margin: 5px 0;
            font-family: $secondaryFont;
            font-size: 1.4rem;
        }   
    }
}

.banana{
    background-color: green;
}


// next question button styles

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    font-family: $secondaryFont;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 1px;
    bottom: 15px;
}

.button_top {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    -webkit-transform: translateY(-0.2em);
    -ms-transform: translateY(-0.2em);
    transform: translateY(-0.2em);
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    -webkit-transform: translateY(-0.33em);
    -ms-transform: translateY(-0.33em);
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}