body {
    background: $bodyBackground;

    h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

header {
    color: white;
    font-family: $primaryFont;

    .neon {
        text-transform: uppercase;
        font-family: $secondaryFont;
            font-size: 3rem;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-shadow: 0 0 0.95em #1da9cc;
            user-select: none;
            filter: blur(0.007em);
    }
}

section {
    text-align: center;
    // border: 3px solid black;
    width: 50%;
    margin: 0 auto;
    border-radius: 45px;
    // max-height: 100vh;
    background-color: $cardBackground;
}



.welcomePage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 125px 0;

    p {
        font-family: $secondaryFont;
        display: block;
        width: 70%;
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 1.3rem;

        &.errorMessage {
            font-size: 1rem;
            font-style: italic;
            color: red;
            margin: 0;
        }
    }

    .startGame {
        display: block;
        position: absolute;
        bottom: -75px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
        border: none;
        color: white;
        background: $accentTwo;
        font-family: $secondaryFont;
        font-size: 1.4rem;
        transition: transform .5s;

        &:hover {
            transform: scale(1.1);
        }

        &.shrink {
            transform: scale(0) rotate(360deg);
            
        }
    }
}


form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;

    .categorySelect,
    input[type="text"],
    .difficulty,
    .answer {
        border:none;
        border-radius: 15px;
        padding: 15px;
    }

    .categorySelect {
        background: white;
        font-family: $secondaryFont;
        font-size: 1.4rem;
        text-align: center;
        padding: 20px;
        border: none;
        border-radius: 15px;

        option {
            font-family: $secondaryFont;
            font-size: 1rem;
        }
    }

    input[type="text"] {
        font-family: $secondaryFont;
        font-size: 1.4rem;
        text-align: center;
    }

    input[type="radio"] {
        opacity: 0.01;
        position: absolute;

        &:checked + label {
            background: $accentTwo;
        }
    }


    label.difficulty,
    label.answer {
            background-color: $accentOne;
            border-radius: 15px;
            padding: 20px;
            margin: 5px 0;
            font-family: $secondaryFont;
            font-size: 1.4rem;
            color: white;
            position:relative;
            cursor: pointer;
            transition: background-color .3s;

            &:hover,
            &:focus {
                background-color: $secondaryColor;
            }
        }   
    }


// next question button styles

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #FFFFFF;
    --button_outline_color: #1C0C5B;
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: $secondaryFont;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 1px;
    bottom: 15px;
}

// FANCY BUTTON

.button_top {
    display: block;
    width: 200px;
    z-index: 20;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    -webkit-transform: translateY(-0.2em);
    -ms-transform: translateY(-0.2em);
    transform: translateY(-0.2em);
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    -webkit-transform: translateY(-0.33em);
    -ms-transform: translateY(-0.33em);
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

// FANCY TEXT INPUT

/* From uiverse.io by @alexruix */
.input-group {
    position: relative;

    .input {
        width: 90%;
        border: solid 1.5px #9e9e9e;
        border-radius: 15px;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        background-color: white;
        color: #f5f5f5;
        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    }
       
       .user-label {
        position: absolute;
        left: 15px;
        color: #e8e8e8;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4,0,0.2,1);
    }
       
       .input:focus, input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
    }
       
       .input:focus ~ label, input:valid ~ label {
        transform: translateY(-90%) scale(0.8);
        background: none;
        padding: 0 .2em;
        color: #2196f3;
    }
}

.congrats {
    position: absolute;
    bottom: 0;
    background-image: url(https://i.gifer.com/6mb.gif);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height:300px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
}

