@media (max-width:1000px) {
    section {
        width: 50%;
    }
}


@media (max-width:900px) {
    section {
        width: 75%;
        
    }
}

@media (max-width:760px) {
    body .about {
            h2 {
                font-size: 2.5rem;
                padding-top: 50px;
            }

            .socials {
                    width: 70%;
                }
        }
        section {
            width: 85%;
        }

}


@media (max-width:615px) {
    body{
        .about {
            h2 {
                font-size: 2rem;
            }

            p.description {
                width: 80%;
            }
                .socials{
                    h3 {
                        width: 85px;
                            text-align: start;
                    }
                }
        }

    }
}

@media (max-width:562px) {
    body .about {
            .socials {
                h3 {
                    width: 100%;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
}

@media (max-width:450px) {
    body .info{
        margin: 4px;
    }
        section {
            width: 95%;
        }
        .about h2 {
            font-size: 2.5rem;
        }
}
