@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

// Colours

// //Option 1
$bodyBackground: #1C0C5B;
$cardBackground: papayawhip;
$secondaryColor: #3D2C8D;
$accentOne: #916BBF;
$accentTwo: #EC994B;


// Option 2
// $bodyBackground: #202040;
// $cardBackground: papayawhip;
// $secondaryColor: #543864;
// $accentOne: #FF6363;
// $accentTwo:#FFBD69;

// Option 3
// $bodyBackground: #17223B;
// $cardBackground: papayawhip;
// $secondaryColor: #263859;
// $accentOne: #6B778D;
// $accentTwo: #FF6768;


// Option 4
// $bodyBackground: #C2DED1;
// $cardBackground: papayawhip;
// $secondaryColor: #ECE5C7;
// $accentOne: #CDC2AE;
// $accentTwo:#354259;

// Fonts
$primaryFont: 'Montserrat', sans-serif;

$secondaryFont: 'Abel',sans-serif;