@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

// Colours

//Option 1
$bodyBackground: #1C0C5B;
$cardBackground: papayawhip;
$secondaryColor: #3D2C8D;
$accentOne: #916BBF;
$accentTwo: #C996CC;


// Option 2
// $bodyBackground: #
// $cardBackground: #
// $secondaryColor: #
// $accentOne: #
// $accentTwo:#C84B31;

// Option 3
// $bodyBackground: #
// $cardBackground: #
// $secondaryColor: #
// $accentOne: #
// $accentTwo: #

// Fonts
$primaryFont: 'Montserrat', sans-serif;