@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

// Fonts
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Abel',sans-serif;

$bodyBackground: #1C0C5B;
$cardBackground: papayawhip;
$secondaryColor: #3D2C8D;
$accentOne: #916BBF;
$accentTwo: #EC994B;

