@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

body {
  background: #1C0C5B;
}
body h2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

header {
  color: white;
  font-family: "Montserrat", sans-serif;
}
header .neon {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.95em #1da9cc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: blur(0.007em);
          filter: blur(0.007em);
}

section {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 45px;
  background-color: papayawhip;
}

.welcomePage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 125px 0;
}
.welcomePage p {
  font-family: "Abel", sans-serif;
  display: block;
  width: 70%;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 1.3rem;
}
.welcomePage p.errorMessage {
  font-size: 1rem;
  font-style: italic;
  color: red;
  margin: 0;
}
.welcomePage .startGame {
  display: block;
  position: absolute;
  bottom: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border: none;
  color: white;
  background: #EC994B;
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.welcomePage .startGame:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.welcomePage .startGame.shrink {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
}

form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
form .categorySelect,
form input[type=text],
form .difficulty,
form .answer {
  border: none;
  border-radius: 15px;
  padding: 15px;
}
form .categorySelect {
  background: white;
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 15px;
}
form .categorySelect option {
  font-family: "Abel", sans-serif;
  font-size: 1rem;
}
form input[type=text] {
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
form input[type=radio] {
  opacity: 0.01;
  position: absolute;
}
form input[type=radio]:checked + label {
  background: #EC994B;
}
form label.difficulty,
form label.answer {
  background-color: #916BBF;
  border-radius: 15px;
  padding: 20px;
  margin: 5px 0;
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  color: white;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
form label.difficulty:hover, form label.difficulty:focus,
form label.answer:hover,
form label.answer:focus {
  background-color: #3D2C8D;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #FFFFFF;
  --button_outline_color: #1C0C5B;
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Abel", sans-serif;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding: 1px;
  bottom: 15px;
}

.button_top {
  display: block;
  width: 200px;
  z-index: 20;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  -webkit-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  -webkit-transform: translateY(-0.33em);
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* From uiverse.io by @alexruix */
.input-group {
  position: relative;
}
.input-group .input {
  width: 90%;
  border: solid 1.5px #9e9e9e;
  border-radius: 15px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  background-color: white;
  color: #f5f5f5;
  -webkit-transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-group .user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-group .input:focus, .input-group input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}
.input-group .input:focus ~ label, .input-group input:valid ~ label {
  -webkit-transform: translateY(-90%) scale(0.8);
          transform: translateY(-90%) scale(0.8);
  background: none;
  padding: 0 0.2em;
  color: #2196f3;
}

.congrats {
  position: absolute;
  bottom: 0;
  background-image: url(https://i.gifer.com/6mb.gif);
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;
}

@media (max-width: 1000px) {
  section {
    width: 70%;
  }
}
@media (max-width: 900px) {
  section {
    width: 70%;
  }
}
@media (max-width: 700px) {
  section {
    width: 70%;
  }
}